[package]
name = "urlshortener-cli"
version = "1.0.1"
authors = ["Victor Polevoy <maintainer@vpolevoy.com>"]
description = "A program which makes your url shorten."
keywords = ["url", "short", "shortener", "link", "web"]
license = "MIT"
repository = "https://github.com/vityafx/urlshortener-cli"
documentation = "https://github.com/vityafx/urlshortener-cli"
edition = "2018"

[dependencies]
urlshortener = "3"
